@model CCCSports.Web.Models.HallActivityBookingInputModel

@{
    ViewBag.Title = "Edit Hall Booking";
}

<h2>Edit Hall Booking</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Activity, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Activity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookingDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookingStartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingStartTime, new { htmlAttributes = new { @class = "form-control", type = "time", min = "08:00:00", max = "20:00:00" } })
                @Html.ValidationMessageFor(model => model.BookingStartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookingEndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BookingEndTime, new { htmlAttributes = new { @class = "form-control", type = "time", min = "08:00:00", max = "20:00:00" } })
                @Html.ValidationMessageFor(model => model.BookingEndTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <p>How many courts do you need? Choose 1 to 4. (4 being the full hall)</p>
        <img src="~/Content/Images/HallLayout.jpg" alt="Hall Layout" />
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.BookCourt1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BookCourt1)
                    @Html.ValidationMessageFor(model => model.BookCourt1, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookCourt2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BookCourt2)
                    @Html.ValidationMessageFor(model => model.BookCourt2, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookCourt3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BookCourt3)
                    @Html.ValidationMessageFor(model => model.BookCourt3, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BookCourt4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.BookCourt4)
                    @Html.ValidationMessageFor(model => model.BookCourt4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back", "Bookings", "Bookings")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
